doctypes/Bills/BillExchange/BillExchange.dtd

<?xml encoding="utf-8"?>
<!-- Bill Exchange DTD v2.4.2b == 20171002 -->

<!-- Bill Exchange DTD v2.4.2a == 20170418 -->

<!-- Bill Exchange DTD v2.4.2 == 20160714 -->

<!-- Bill Exchange DTD v2.4.1b == 20150828 -->

<!-- Bill Exchange DTD v2.4.1 == 20150811 -->

<!-- Bill Exchange DTD v2.4.0 == 20150324 This is the new version of Exchange DTD created by DOJ -->

<!-- Bill Exchange DTD v2.3.1b == 20150227 The version (label) was created by HOC -->

<!-- Bill Exchange DTD v2.3.1 == 20050311 -->

<!-- Bill Exchange DTD v2.3.0 == 20050104 -->

<!-- Bill Exchange DTD v2.2.0 == 20040916 -->

<!-- Bill Exchange DTD v2.1.0 == 20040716 -->

<!-- Bill Exchange DTD v2.0.0 == 20040528 -->

<!-- September 2017 - From HoC - adding <Keep> to <Ins> and creating a new version of the Exchange.DTD v2.4.2b 
	before: <!ENTITY % changedtext  "(#PCDATA | Emphasis | DefinedTermEn
                          | DefinedTermFr | DefinitionEnOnly | DefinitionFrOnly | DefinitionRef | FootnoteRef | Language | Leader
                          | LeaderRightJustified | Sub | Sup | XRefInternal 
                          | XRefExternal | Provision)*" >

	now: <!ENTITY % changedtext  "(#PCDATA | Emphasis | DefinedTermEn
                          | DefinedTermFr | DefinitionEnOnly | DefinitionFrOnly | DefinitionRef | FootnoteRef | Language | Leader
                          | LeaderRightJustified | Sub | Sup | XRefInternal 
                          | XRefExternal | Provision | Keep)*" >

						  -->


<!-- December 2016 - From HoC. We need to be able to differentiate keeps inserted by the hyphenation service from those inserted by the user. 
	before: <!ELEMENT Keep  (%lowleveltext;)* >
	now: <!ATTLIST Keep   
               svc CDATA #IMPLIED >
-->

<!-- November 2016 - Allow new element DefinitionRef in <MarginalNote> 
	before: <!ELEMENT MarginalNote  (%lowleveltext;
                      | DefinedTermEn | DefinedTermFr
                      | DefinitionEnOnly | DefinitionFrOnly | HistoricalNote 
                     )*" >

	now: <!ELEMENT MarginalNote  (%lowleveltext;
                      | DefinedTermEn | DefinedTermFr
                      | DefinitionEnOnly | DefinitionFrOnly | DefinitionRef | HistoricalNote 
                     )*" >

-->

<!-- November 2016 - Allow new element DefinitionRef, DefinitionEnOnly and DefinitionFrOnly to <Ins> 
	before: <!ENTITY % changedtext  "(#PCDATA | Emphasis | DefinedTermEn
                          | DefinedTermFr | FootnoteRef | Language | Leader
                          | LeaderRightJustified | Sub | Sup | XRefInternal 
                          | XRefExternal | Provision)*" >

	now: <!ENTITY % changedtext  "(#PCDATA | Emphasis | DefinedTermEn
                          | DefinedTermFr | DefinitionEnOnly | DefinitionFrOnly | DefinitionRef | FootnoteRef | Language | Leader
                          | LeaderRightJustified | Sub | Sup | XRefInternal 
                          | XRefExternal | Provision)*" >

						  -->

<!-- July 2016 - Added the new element DefinitionRef  in inline entity
	<!ELEMENT DefinitionRef  (%lowleveltext;)* >

	before: <!ENTITY % inline  "(#PCDATA | Ins | Sub | Sup | Emphasis
                     | DefinedTermEn | DefinedTermFr | DefinitionEnOnly | DefinitionFrOnly | FootnoteRef 
                     | Language | Leader | LeaderRightJustified | XRefInternal 
                     | XRefExternal | PageBreak | Keep | ImageGroup | Fraction )*" >
	now: <!ENTITY % inline  "(#PCDATA | Ins | Sub | Sup | Emphasis
                     | DefinedTermEn | DefinedTermFr | DefinitionEnOnly | DefinitionFrOnly  | DefinitionRef| FootnoteRef 
                     | Language | Leader | LeaderRightJustified | XRefInternal 
                     | XRefExternal | PageBreak | Keep | ImageGroup | Fraction )*" >
-->

<!-- June 2016 - Allow Fraction in FormulaText 
	before: <!ELEMENT FormulaText  (%lowleveltext;)* >
	now: <!ELEMENT FormulaText  (%lowleveltext; | Fraction)* >
-->

<!-- June 2016 - Allow for OriginatingRef in the AmendedText 
	before: <!ELEMENT AmendedText  (CommentBlock*, (%docpart; | BillInternal | Schedule)) >
	now: <!ELEMENT AmendedText  (CommentBlock*, (%docpart; | BillInternal | OriginatingRef | Schedule)) >
-->

<!-- June 2016 - Allow for lowleveltext in the StageText tag in BillHistory 
	before: <!ELEMENT StageText  (#PCDATA) >
	now: <!ELEMENT StageText  (%lowleveltext;)* >
-->

<!-- May 2016 - Add DefinitionEnOnly and DefinitionFrOnly to the Text element  
	before: <!ENTITY % inline  "(#PCDATA | Ins | Sub | Sup | Emphasis
                     | DefinedTermEn | DefinedTermFr | FootnoteRef 
                     | Language | Leader | LeaderRightJustified | XRefInternal 
                     | XRefExternal | PageBreak | Keep | ImageGroup | Fraction )*" >
	now: <!ENTITY % inline  "(#PCDATA | Ins | Sub | Sup | Emphasis
                     | DefinedTermEn | DefinedTermFr | DefinitionEnOnly | DefinitionFrOnly | FootnoteRef 
                     | Language | Leader | LeaderRightJustified | XRefInternal 
                     | XRefExternal | PageBreak | Keep | ImageGroup | Fraction )*" >
-->

<!-- May 2016 - Caption in ImageGroup element 
	before: <!ELEMENT ImageGroup  (AlternateText?, Caption?, Image) >
	now: <!ELEMENT ImageGroup  (title*, AlternateText?, Caption*, Image) >
-->

<!-- May 2016 - Adding the Provision element to Note element 
	before: <!ELEMENT Note  (%lowleveltext;)* >
	now: <!ELEMENT Note  (%lowleveltext; | Provision)* >
-->

<!-- May 2016 - Add attribute for LongTitle as the specs for each are not the same in Bills and Regs 
	before: <!ELEMENT LongTitle  (%lowleveltext;)* >
	now: <!ELEMENT LongTitle  (%lowleveltext;)* >
			<!ATTLIST LongTitle
               type CDATA   #IMPLIED  >
-->

<!-- May 2016 - Add attribute on DefinedTermEn and DefinedTermFr to remove bold characteristic within a Definition 
	before: <!ELEMENT DefinedTermEn/Fr  (%lowleveltext;)* >
	now: <!ELEMENT DefinedTermEn  (%lowleveltext;)* >
			<!ATTLIST DefinedTermEn
               style  (bold | italic | normal)    #IMPLIED  >
-->

<!-- August 2015 - Two changes: 
     1. Added the Leader element to SignatureLine (<!ELEMENT SignatureLine  (%lowleveltext; | Leader)* >)
     2. Added the Leader element to Oath element (<!ELEMENT Oath  (%lowleveltext; | Leader)* >)
 -->

<!-- August 2015 - removed List element from the blocktext entity 
	before: <!ENTITY % blocktext  "( %blockfragment; | Provision | List)" >
	now: <!ENTITY % blocktext  "( %blockfragment; | Provision)" >
-->

<!-- August 2015 - added the new attribute "label-column-width" in the TableOfProvisions element -->
	 
<!-- Mart 2015 - Two changes: 
     1. Added Heading element in the Section and 
     2. Added the Leader element inside entities % changedtext, % inline and % tbl.entry.mdl -->

<!-- Sep. 2002 - removed the "inline" attribute from Provision since
	it was redundant.  -->

<!-- Feb. 2002 - removed common elements to a separate file called
     billCommonElements.ent...Julie Julian  -->
             
<!-- The BillExchange DTD, includes the change attribute with its modified content model. -->
<!ENTITY % ignorechange 'INCLUDE'>

<!-- The BillExchange DTD includes the exchange entity which excludes the CommentBlock 
element as well as the HistoricalNote element. -->
<!ENTITY % authoring 'IGNORE' >
<!ENTITY % exchange 'INCLUDE' >
<!ENTITY % statute 'IGNORE' >

<!-- The BillExchange DTD includes the flat entity which defines the flattened model for the Body and Heading elements. -->
<!ENTITY % flat 'INCLUDE' >
<!ENTITY % nested 'IGNORE' >

<!ENTITY % changeatt "
              change  (ins | off )   #IMPLIED " >           

<!-- The following line identifies the billCommonElements.dtd to be included 
     in BillExchange.dtd -->
 
<!ENTITY % commonelements PUBLIC "-//Justice Canada//DTD Bill Common Elements v2.4.2//EN" "../CommonFiles/billCommonElements.ent">

<!-- ____________________________________________________________________-->
<!--                                                                     -->
<!--                             ENTITIES                                -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->


<!ENTITY % lowleveltext  "#PCDATA | Ins | Sub | Sup | Emphasis | Language 
                           | FootnoteRef | XRefInternal | XRefExternal
                           | PageBreak | Keep | LineBreak" >

<!ENTITY % changedtext  "(#PCDATA | Emphasis | DefinedTermEn
                          | DefinedTermFr | DefinitionEnOnly | DefinitionFrOnly | DefinitionRef | FootnoteRef | Language | Leader
                          | LeaderRightJustified | Sub | Sup | XRefInternal 
                          | XRefExternal | Provision | Keep)*" >


<!ENTITY % inline  "(#PCDATA | Ins | Sub | Sup | Emphasis
                     | DefinedTermEn | DefinedTermFr | DefinitionEnOnly | DefinitionFrOnly | DefinitionRef | FootnoteRef 
                     | Language | Leader | LeaderRightJustified | XRefInternal 
                     | XRefExternal | PageBreak | Keep | ImageGroup | Fraction )*" >


<!ENTITY % tbl.entry.mdl  "(#PCDATA | Ins | Sub | Sup | Emphasis 
               | BilingualGroup | FootnoteRef | Formula 
               | XRefInternal | XRefExternal | ImageGroup | Provision
               | Language | Leader | SignatureBlock | LeaderRightJustified 
               | PageBreak | Keep)* " >


<!-- The following line imports the contents of billCommonElements.dtd so that
     elements from the common elements pool can be included in BillExchange.dtd 
     This reference must be positioned after the entity references. -->
 
%commonelements;

<!-- ____________________________________________________________________-->
<!--                                                                     -->
<!--                        HIGHEST LEVEL ELEMENT                        -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->

<!ELEMENT Bill  (Identification, Introduction?, Body, Schedule*) >


<!ATTLIST Bill
               bill-origin (commons | senate | other)   #REQUIRED
               bill-type (private-public | private-private | govt-public) 
               						"govt-public"
               document-id  CDATA    #IMPLIED 
               date-time  CDATA    #IMPLIED 
               xml:lang (en | fr)   #REQUIRED  >

<!-- ____________________________________________________________________-->
<!--                                                                     -->
<!--                       IDENTIFICATION ELEMENT                        -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->
  
<!ELEMENT Identification  (BillNumber?, Parliament?, LongTitle, 
                           ShortTitle, RunningHead?, BillHistory, BillSponsor?, StatuteYear?, 
                           Chapter?, ReaderNote?, BillRefNumber?) >

                           
<!ELEMENT Chapter  (ConsolidatedNumber?, AnnualStatuteId?) >


<!ELEMENT ConsolidatedNumber  (#PCDATA) >
<!ATTLIST ConsolidatedNumber official ( yes | no ) #IMPLIED >


<!ELEMENT AnnualStatuteId  (AnnualStatuteNumber, YYYY ) >
<!ATTLIST AnnualStatuteId
               revised-statute (yes | no) "no"  >


<!ELEMENT ReaderNote  (Note+) >


<!ELEMENT StatuteYear  (#PCDATA) >

<!-- ____________________________________________________________________-->
<!--                                                                     -->
<!--                         INTRODUCTION ELEMENT                        -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->

<!ELEMENT Introduction  (Recommendation?, Summary?, TableOfProvisions?, 
((Preamble, Enacts?) | Enacts)?) >

<!-- ____________________________________________________________________-->
<!--                                                                     -->

<!--                                                                     -->
<!--                       BLOCK TEXT ELEMENTS                           -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->
                                                                                      
<!ELEMENT ExplanatoryNote  (TitleText*, Label, ExplanatoryText+, ExistingText?) >
<!ATTLIST ExplanatoryNote
               id  ID    #IMPLIED  >
               

<!ELEMENT ExplanatoryText  %inline; >


<!ELEMENT ExistingText  %docpart; >
<!ATTLIST ExistingText
               xml:lang (en | fr)   #IMPLIED  >

<!ELEMENT AmendedText  (%docpart; | BillInternal | OriginatingRef | Schedule) >
<!ATTLIST AmendedText
               xml:lang (en | fr )   #IMPLIED 
               change  (ins | off) #IMPLIED
               include-in-TableOfProvisions (yes | no)  "no" >



<!-- ____________________________________________________________________-->
<!--                                                                     -->
<!--                       INLINE TEXT ELEMENTS                          -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->
                                     
<!ELEMENT Ins  %changedtext; >
<!-- ____________________________________________________________________-->
<!--                                                                     -->
<!--                    HOUSE OF COMMONS ONLY ELEMENTS                   -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->
 

<!ELEMENT Keep  (%lowleveltext;)* >
<!ATTLIST Keep        
               svc CDATA #IMPLIED >                 


<!ELEMENT PageBreak  EMPTY >


<!ELEMENT LineBreak  EMPTY >



