Bills/BillAuthoring/BillAuthoring.dtd

<?xml encoding="utf-8"?>
<!-- Bill Authoring DTD v2.5 == 2022 -->

<!-- The BillAuthoring DTD includes the change attribute with its modified content model. -->
<!ENTITY % ignorechange 'INCLUDE'>


<!ENTITY % changeatt  "
             change  (ins | del | off | alt)   #IMPLIED " >

<!-- The following line identifies the billCommonElements.ent to be included 
     in BillAuthoring.dtd -->
<!ENTITY % commonelements PUBLIC "-//Justice Canada//DTD Bill Common Elements v2.5.0//EN" "../CommonFiles/billCommonElements.ent">
<!ENTITY % commonentities PUBLIC "-//Justice Canada//DTD Bill Common Entities v2.5.0//EN" "../CommonFiles/billCommonEntities.ent">

<!-- ____________________________________________________________________-->
<!--                                                                     -->
<!--                             ENTITIES                                -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->


<!ENTITY % lowleveltext  "#PCDATA | Ins | Del | Sub | Sup | Emphasis | InlineFont| Preserve | Language 
                           | FootnoteRef | XRefInternal | XRefExternal | XRefSection
                           | PageBreak | Keep | LineBreak" >

<!ENTITY % changedtext  "(#PCDATA | Emphasis | CommentInline  | DefinedTermEn
                          | DefinedTermFr | DefinitionEnOnly | DefinitionFrOnly | DefinitionRef | FootnoteRef | Language | Leader
                          | LeaderRightJustified | Sub | Sup | XRefInternal | XRefSection
                          | XRefExternal | Provision)*" >

<!ENTITY % inline  "(#PCDATA | Ins | Del  | Sub | Sup | Emphasis | InlineFont| Preserve | CommentInline 
                     | DefinedTermEn | DefinedTermFr | DefinitionEnOnly | DefinitionFrOnly | DefinitionRef | FootnoteRef 
                     | Language | Leader | LeaderRightJustified | XRefInternal | XRefSection 
                     | XRefExternal | PageBreak | Keep | ImageGroup | Fraction )*" >


<!ENTITY % tbl.entry.mdl  "(#PCDATA | Ins | Del  | Sub | Sup | Emphasis | InlineFont |  Preserve
               | DefinedTermEn | DefinedTermFr | DefinitionEnOnly | DefinitionFrOnly | DefinitionRef 
			   | BilingualGroup | FootnoteRef | Formula 
               | XRefInternal | XRefExternal | XRefSection | ImageGroup | Provision
               | Language | Leader | SignatureBlock | LeaderRightJustified 
               | PageBreak | Keep)* " >



%commonentities;


<!--  These elements' model include the CommentBlock element.-->

	<!ENTITY % schedulecontent  "(AmendedText | BillPiece | DocumentInternal | BillInternal
		| %blocktext; | Schedule)*" >

	<!ENTITY % docpart  "(LongTitle | Preamble | (Heading | (CommentBlock*, Section, CommentBlock*))+ 
                     | (Heading | (CommentBlock*, Subsection, CommentBlock*))+ | SectionPiece | (ScheduleFormHeading, %schedulecontent;)
                     | (%blocktext;)+ | Formula | (Caption?, title?) | (Group | GroupHeading | Provision)+)" >

<!-- The following line imports the contents of billCommonElements.dtd so that
     elements from the common elements pool can be included in BillAuthoring.dtd 
     This reference must be positioned after the entity references. -->
%commonelements;
					 
	<!ELEMENT Body  (Heading | Section | CommentBlock)+ >


	<!ELEMENT Clause  (CommentBlock*, Label, Text, ((Subclause | CommentBlock | %blocktext;)+, 
                   ContinuedClause?)*) >                   
	<!ATTLIST Clause
               id  ID    #IMPLIED 
               type (normal | amending | transitional | CIF | CIFnobold)   #IMPLIED 
               %changeatt;  >

	<!ELEMENT ContinuedClause  (CommentBlock*,Text, CommentBlock*) >
	<!ATTLIST ContinuedClause
               id  ID    #IMPLIED 
               %changeatt;
               type  (normal | transitional | amending | CIF | CIFnobold)  #IMPLIED  >

	<!ELEMENT ContinuedDefinition  (CommentBlock*, Text, CommentBlock*) >
	<![%ignorechange;[
	<!ATTLIST ContinuedDefinition %changeatt;  >
        ]]>


	<!ELEMENT ContinuedParagraph  (CommentBlock*,Text, CommentBlock*) >
	<!ATTLIST ContinuedParagraph
               id  ID    #IMPLIED 
               %changeatt;
               type  (normal | transitional | amending | CIF | CIFnobold)  #IMPLIED  >


	<!ELEMENT ContinuedSubclause  (CommentBlock*,Text, CommentBlock*) >
	<!ATTLIST ContinuedSubclause
               id  ID    #IMPLIED 
               %changeatt;
               type  (normal | transitional | amending | CIF | CIFnobold)  #IMPLIED  >


	<!ELEMENT ContinuedSubparagraph  (CommentBlock*,Text, CommentBlock*) >
	<!ATTLIST ContinuedSubparagraph
               id  ID    #IMPLIED 
               %changeatt;
               type  (normal | transitional | amending | CIF | CIFnobold)  #IMPLIED  >


	<!ELEMENT ContinuedSectionSubsection  (CommentBlock*, Text, (AmendedText | ReadAsText)?, CommentBlock*) >
	<!ATTLIST ContinuedSectionSubsection
               id  ID    #IMPLIED 
               %changeatt;
               type  (normal | transitional | amending | CIF | CIFnobold)  #IMPLIED  >


	<!ELEMENT Definition  (CommentBlock*, MarginalNote*,
                        (Text*,((Paragraph | CommentBlock | %blocktext;)+,ContinuedDefinition?, CommentBlock*)*)
                              )>
	<!ATTLIST Definition
                generate-in-text (yes | no)  "no" >


	<!ELEMENT Heading  (CommentBlock*, Label?, MarginalNote?, TitleText?) >
	<!ATTLIST Heading
 	   level (1 | 2 | 3 | 4 | 5) #REQUIRED
    	style CDATA  #IMPLIED 
    	type (normal | transitional | amending) #IMPLIED
    	%changeatt;  >

	<!ELEMENT List (Item+) >
	<!ATTLIST List
		style (arabic | roman-lc | roman-uc | alphabet-lc | alphabet-uc | bullet | en-dash | em-dash) #IMPLIED 
		subsequent-line-indent CDATA #IMPLIED 
		label-start-indent CDATA #IMPLIED 
		text-start-indent  CDATA #IMPLIED 
		first-line-indent CDATA #IMPLIED 
		justification (justify | left | right | center) #IMPLIED
		hyphenation (yes | no) #IMPLIED
		pointsize (6 | 7 | 8 | 9 | 10 | 11 | 12) #IMPLIED
		keep-with-next (yes | no) #IMPLIED
		keep-with-previous (yes | no) #IMPLIED
		topmarginspacing CDATA #IMPLIED
		xml:lang (en | fr)   #IMPLIED 
		language-align (yes | no) "no"
		%changeatt;  >

	<!ELEMENT Item (Label?, Text, List?) >
	
	
	<!ELEMENT Paragraph  (CommentBlock*, MarginalNote?, Label, Text,
                     (((Subparagraph | CommentBlock | %blocktext;)+, ContinuedParagraph?)* 
                        | AmendedText?)) >                        
	<!ATTLIST Paragraph
               id  ID    #IMPLIED 
               type (normal | transitional | amending | CIF | CIFnobold)   #IMPLIED 
               %changeatt;  >


	<!ELEMENT Preamble  (CommentBlock*, Provision+, CommentBlock*) >


	<!ELEMENT Provision (
                      CommentBlock?,
                      MarginalNote?,
                      Label?,
                      ProvisionHeading?,
                      (
                        (
                          Text,
                          (
                            (
                              (Provision | %provisionblock;)+,
                              Text?
                            )*
                           |
                            AmendedContent?
                           |
                            ReadAsContent?
                          )
                        )
                       |
                        Provision+
                       |
                        %provisionblock;
                      ), CommentBlock*
                    ) >
	<!ATTLIST Provision	
                format-ref  CDATA    #IMPLIED
                first-line-indent CDATA #IMPLIED
                subsequent-line-indent CDATA #IMPLIED
                justification (justify | left | right | center) #IMPLIED
                hyphenation (yes | no) #IMPLIED
                pointsize (6 | 7 | 8 | 9 | 10 | 11 | 12) #IMPLIED
                keep-with-next (yes | no) #IMPLIED
                keep-with-previous (yes | no) #IMPLIED
                topmarginspacing CDATA #IMPLIED
		list-item (yes | no) "no"
                xml:lang (en | fr)   #IMPLIED 
                id  ID    #IMPLIED
                language-align (yes | no) "no"
                %changeatt; >    		
  
                  
	<!ELEMENT Section  (CommentBlock*, MarginalNote?, Label, 
                    ((Text, (Definition* | (((Paragraph | CommentBlock*| %blocktext;)+, 
                    ContinuedSectionSubsection?)* 
                    | (AmendedText, ContinuedSectionSubsection?)?))) 
                    | (Subsection, CommentBlock*)+),
                    ExplanatoryNote?) >
	<!ATTLIST Section 
               id  ID    #IMPLIED 
               type (normal | transitional | amending | CIF | CIFnobold)   #IMPLIED 
               %changeatt;  >


	<!ELEMENT SectionPiece  (
                           CommentBlock
						 | Definition
						 | Heading
                         | Paragraph 
                         | Subparagraph 
                         | Clause 
                         | Subclause 
                         | Subsubclause 
                         | ContinuedSectionSubsection 
                         | ContinuedParagraph 
                         | ContinuedSubparagraph 
                         | ContinuedClause 
                         | ContinuedSubclause 
                         | ContinuedDefinition
                         | %blocktext; 
                        )+ >


	<!ELEMENT Subclause  (CommentBlock*, Label, Text,  ((Subsubclause | CommentBlock 
                      | %blocktext;)+, ContinuedSubclause?)*) >                     
	<!ATTLIST Subclause
               id  ID    #IMPLIED 
               type (normal | amending | transitional | CIF | CIFnobold)   #IMPLIED 
               %changeatt;  >


	<!ELEMENT Subparagraph  (CommentBlock*, Label, Text, (((Clause | CommentBlock 
                         | %blocktext;)+, ContinuedSubparagraph?)* 
                         | AmendedText?)) >                         
	<!ATTLIST Subparagraph
               id  ID    #IMPLIED 
               type (normal | transitional | amending | CIF | CIFnobold)   #IMPLIED 
               %changeatt;  >


	<!ELEMENT Subsection (CommentBlock*, MarginalNote?, Label, Text,
                       (Definition* | (((Paragraph | CommentBlock*| %blocktext;)+,
                       ContinuedSectionSubsection?)* 
                     | (AmendedText, ContinuedSectionSubsection?)?)),
                       ExplanatoryNote?) >                    
	<!ATTLIST Subsection
               id  ID    #IMPLIED 
               type (normal | transitional | amending | CIF | CIFnobold) #IMPLIED 
               %changeatt;  >


	<!ELEMENT Subsubclause  (CommentBlock*, Label, Text,CommentBlock*, 
                         (%blocktext;)*) >                         
	<!ATTLIST Subsubclause
               id  ID    #IMPLIED 
               type (normal | amending | transitional | CIF | CIFnobold)   #IMPLIED 
               %changeatt;  >


	<!ELEMENT Summary  (CommentBlock*, TitleText, Provision+, CommentBlock*) >


<!--  These elements' model is part of the entity as their model 
includes the HistoricalNote element in Statute DTDs.-->


	<!ELEMENT Enacts  (Provision) >


	<!ELEMENT AmendedContent ((Group | Provision | GroupHeading)+) >


	<!ELEMENT DocumentInternal
                ( (Group | Provision | GroupHeading)+, Schedule* ) >

   		
	<!ELEMENT Group
                ( GroupHeading, (Group? | Provision?)* )> 
	<!ATTLIST Group
    	id  ID    #IMPLIED >

<!-- ____________________________________________________________________-->
<!--                                                                     -->
<!--                        HIGHEST LEVEL ELEMENT                        -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->

<!ELEMENT Bill  (Identification, Introduction?, Body, Schedule*) >

<!ATTLIST Bill
               bill-origin (commons | senate | other)   #REQUIRED
               bill-type (private-public | private-private | govt-public) 
               						"govt-public"
               document-id  CDATA    #IMPLIED 
               date-time  CDATA    #IMPLIED 
               xml:lang (en | fr)   #REQUIRED  >


<!-- ____________________________________________________________________-->
<!--                                                                     -->
<!--                       IDENTIFICATION ELEMENT                        -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->

<!ELEMENT Introduction  (Recommendation?, Summary?, TableOfProvisions?, 
                        ((Preamble, Enacts?) | Enacts)?) >



<!-- ____________________________________________________________________-->
<!--                                                                     -->
<!--                       IDENTIFICATION ELEMENT                        -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->
  
<!ELEMENT Identification  (BillNumber?, Parliament?, LongTitle, 
                           ShortTitle?, RunningHead?, BillHistory?, BillSponsor?,
                           BillRefNumber?) >

<!ATTLIST Identification 
	icase-ref-number CDATA #IMPLIED
	team-no CDATA #IMPLIED
	drafter-1 CDATA #IMPLIED
	drafter-2 CDATA #IMPLIED
	>

	       
<!-- ____________________________________________________________________-->
<!--                                                                     -->
<!--                       BLOCK TEXT ELEMENTS                           -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->
                                                                                     
<!ELEMENT CommentBlock  (%lowleveltext;)* >
<!ATTLIST CommentBlock
               security (public | public-juril | private)  "private"
               author  CDATA    #IMPLIED 
               date-time  CDATA    #IMPLIED  >

<!ELEMENT ExplanatoryNote  (TitleText*, Label, ExplanatoryText+, ExistingText?) >
<!ATTLIST ExplanatoryNote
               id  ID    #IMPLIED  >
               
<!ELEMENT ExplanatoryText  %inline; >

<!ELEMENT ExistingText  %docpart; >
<!ATTLIST ExistingText
               xml:lang (en | fr)   #IMPLIED  >

<!ELEMENT AmendedText  (CommentBlock*, (%docpart; | BillInternal | OriginatingRef | Schedule)) >
<!ATTLIST AmendedText
               xml:lang (en | fr )   #IMPLIED 
               change  (ins | off) #IMPLIED
               include-in-TableOfProvisions (yes | no)  "no" >

                                         
<!-- ____________________________________________________________________-->
<!--                                                                     -->
<!--                       INLINE TEXT ELEMENTS                          -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->

<!ELEMENT CommentInline  (%lowleveltext;)* >
<!ATTLIST CommentInline
               author  CDATA    #IMPLIED 
               date-time  CDATA    #IMPLIED 
               security (public | public-juril | private)  "private" >

<!ELEMENT Del  %changedtext; >


<!ELEMENT Ins  %changedtext; >

<!ELEMENT Keep  (%lowleveltext;)* >
<!ATTLIST Keep        
               svc CDATA #IMPLIED >



