Bills/Statute/Statute.dtd

<?xml encoding="utf-8"?>
<!-- Statute DTD v2.5 == 2022 -->

<!ENTITY % ignorechange 'IGNORE'>

<!ENTITY % changeatt "">

<!-- The following line identifies the billCommonElements.dtd to be included 
     in Statute.dtd -->
  
<!ENTITY % commonelements PUBLIC "-//Justice Canada//DTD Bill Common Elements v2.4.2//EN" "../CommonFiles/billCommonElements.ent">
<!ENTITY % commonentities PUBLIC "-//Justice Canada//DTD Bill Common Entities v2.4.2//EN" "../CommonFiles/billCommonEntities.ent">

<!-- ____________________________________________________________________-->
<!--                                                                     -->
<!--                             ENTITIES                                -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->


<!ENTITY % lowleveltext  "#PCDATA | Sub | Sup | Emphasis | InlineFont | Language 
                           | FootnoteRef | XRefInternal | XRefExternal | XRefSection
                           | PageBreak | Keep | LineBreak" >

<!ENTITY % inline  "(#PCDATA | Sub | Sup | Emphasis | InlineFont 
                     | DefinedTermEn | DefinedTermFr | DefinitionEnOnly | DefinitionFrOnly | DefinitionRef | FootnoteRef 
                     | Language | LeaderRightJustified | Leader | XRefInternal | XRefSection 
                     | XRefExternal | HistoricalNote | Repealed 
					 | PageBreak | Keep | ImageGroup | Fraction )*" >


<!ENTITY % tbl.entry.mdl  "(#PCDATA | Sub | Sup | Emphasis | InlineFont | BilingualGroup 
               | DefinedTermEn | DefinedTermFr | DefinitionEnOnly | DefinitionFrOnly | DefinitionRef | FootnoteRef | Formula 
			   | XRefInternal | XRefSection 
               | XRefExternal | ImageGroup | Provision
               | Language | Leader | SignatureBlock | LeaderRightJustified 
               | PageBreak | Keep)* " >

%commonentities;

<!--  These elements' model include the HistoricalNote element.-->
<!ENTITY % schedulecontent  "(AmendedText | Repealed | BillPiece | DocumentInternal | BillInternal
                            | %blocktext; | Schedule | HistoricalNote | Repealed)*" >
							
					 
<!ENTITY % docpart  "(LongTitle | Preamble | (Heading | Section)+ 
                     | (Heading | Subsection)+  | SectionPiece | (ScheduleFormHeading, %schedulecontent;)
                     | (%blocktext;)+ | Formula | (Caption?, title?) | (Group | GroupHeading | Provision)+)" >
							
<!-- The following line imports the contents of billCommonElements.dtd so that
     elements from the common elements pool can be included in Statute.dtd 
     This reference must be positioned after the entity references. -->
 
%commonelements;


	<!ELEMENT AmendedContent ((Group | Provision | GroupHeading)+, HistoricalNote?) >


	<!ELEMENT Clause  (Label, Text, ((Subclause | %blocktext;)+, 
                   ContinuedClause?)*, HistoricalNote?) >                 
	<!ATTLIST Clause
               id  ID    #IMPLIED 
               type  (normal | transitional | amending)  #IMPLIED  >


	<!ELEMENT DocumentInternal
    		( (Group | Provision | GroupHeading)+, Schedule*, HistoricalNote? ) >
   

	<!ELEMENT Enacts  (Provision, HistoricalNote?) >


	<!ELEMENT Group 
  	 	(GroupHeading,
        	(Group? | Provision?)*,
	         HistoricalNote?
    		)>   
	<!ATTLIST Group
    	id  ID    #IMPLIED >


	<!ELEMENT List (Item+) >
	<!ATTLIST List
		style (arabic | roman-lc | roman-uc | alphabet-lc | alphabet-uc | bullet | en-dash | em-dash) #IMPLIED 
		subsequent-line-indent CDATA #IMPLIED 
		label-start-indent CDATA #IMPLIED 
		text-start-indent  CDATA #IMPLIED 
		first-line-indent CDATA #IMPLIED 
		justification (justify | left | right | center) #IMPLIED
		hyphenation (yes | no) #IMPLIED
		pointsize (6 | 7 | 8 | 9 | 10 | 11 | 12) #IMPLIED
		keep-with-next (yes | no) #IMPLIED
		keep-with-previous (yes | no) #IMPLIED
		topmarginspacing CDATA #IMPLIED
		xml:lang (en | fr)   #IMPLIED 
		language-align (yes | no) "no"
		%changeatt;  >
		
	<!ELEMENT Paragraph  (MarginalNote?, Label, Text, 
                     (((Subparagraph | %blocktext;)+, ContinuedParagraph?)* 
                     | AmendedText?), HistoricalNote?) >                
	<!ATTLIST Paragraph
               id  ID    #IMPLIED 
               type (normal | transitional | amending | CIF)   #IMPLIED  >


	<!ELEMENT Preamble  (Provision+, HistoricalNote?) >
	<!ATTLIST Preamble
               salutation   (yes | no ) "no"   >


	<!ELEMENT Provision (
                      MarginalNote?,
                      Label?,
                      ProvisionHeading?,
                      (
                        (
                          Text,
                          (
                            (
                              (Provision | %provisionblock;)+,
                              Text?
                            )*
                           |
                            AmendedContent?
                           |
                            ReadAsContent?
                          ),
                          HistoricalNote?
                        )
                       |
                        (Provision+, HistoricalNote?)
                       |
                        (%provisionblock;, HistoricalNote?)
                      )
                    ) >
	<!ATTLIST Provision	
                format-ref  CDATA    #IMPLIED
                first-line-indent CDATA #IMPLIED
                subsequent-line-indent CDATA #IMPLIED
                justification (justify | left | right | center) #IMPLIED
                hyphenation (yes | no) #IMPLIED
                pointsize (6 | 7 | 8 | 9 | 10 | 11 | 12) #IMPLIED
                keep-with-next (yes | no) #IMPLIED
                keep-with-previous (yes | no) #IMPLIED
                topmarginspacing CDATA #IMPLIED
		list-item (yes | no) "no"
                xml:lang (en | fr)   #IMPLIED 
                id  ID    #IMPLIED
                language-align (yes | no) "no"
                %changeatt; >


	<!ELEMENT Section  (MarginalNote?, Label, 
                    ((Text, (Definition* | (((Paragraph | %blocktext;)+, 
                    ContinuedSectionSubsection?)* | (AmendedText, ContinuedSectionSubsection?)?))) | Subsection+),
                    HistoricalNote?) >        
	<!ATTLIST Section
               id  ID    #IMPLIED 
               target  CDATA    #IMPLIED 
               type (normal | transitional | amending | CIF)   #IMPLIED  >


	<!ELEMENT Subclause  (Label, Text, ((Subsubclause | %blocktext;)+,
                      ContinuedSubclause?)*, HistoricalNote?) >                    
	<!ATTLIST Subclause
               id  ID    #IMPLIED 
               type  (normal | transitional | amending)  #IMPLIED  >


	<!ELEMENT Subparagraph  (Label, Text, (((Clause 
                         | %blocktext;)+, ContinuedSubparagraph?)* 
                         | AmendedText?), HistoricalNote?) >                       
	<!ATTLIST Subparagraph
               id  ID    #IMPLIED 
               type (normal | transitional | amending)   #IMPLIED  >


	<!ELEMENT Subsection  (MarginalNote?, Label, Text, 
                       (Definition* | (((Paragraph | %blocktext;)+,
                       ContinuedSectionSubsection?)* | (AmendedText, ContinuedSectionSubsection?)?)),
                       HistoricalNote?) >                      
	<!ATTLIST Subsection
               id  ID    #IMPLIED 
               type (normal | transitional | amending | CIF)   #IMPLIED  >


	<!ELEMENT Subsubclause  (Label, Text, 
                         (%blocktext;)*, HistoricalNote?) >
	<!ATTLIST Subsubclause
               id  ID    #IMPLIED 
               type  (normal | transitional | amending)  #IMPLIED  >



	<!ELEMENT ContinuedClause  (Text) >
	<!ATTLIST ContinuedClause
               id  ID    #IMPLIED 
               %changeatt;
               type  (normal | transitional | amending)  #IMPLIED  >


	<!ELEMENT ContinuedDefinition  (Text) >
	<![%ignorechange;[
	<!ATTLIST ContinuedDefinition %changeatt;  >
        ]]>


	<!ELEMENT ContinuedParagraph  (Text) >
	<!ATTLIST ContinuedParagraph
               id  ID    #IMPLIED 
               %changeatt;
               type  (normal | transitional | amending)  #IMPLIED  >



	<!ELEMENT ContinuedSectionSubsection  (Text, (AmendedText | ReadAsText)?) >
	<!ATTLIST ContinuedSectionSubsection
               id  ID    #IMPLIED 
               %changeatt;
               type  (normal | transitional | amending)  #IMPLIED  >


	<!ELEMENT ContinuedSubclause  (Text) >
	<!ATTLIST ContinuedSubclause
               id  ID    #IMPLIED 
               %changeatt;
               type  (normal | transitional | amending)  #IMPLIED  >


	<!ELEMENT ContinuedSubparagraph  (Text) >
	<!ATTLIST ContinuedSubparagraph
               id  ID    #IMPLIED 
               %changeatt;
               type  (normal | transitional | amending)  #IMPLIED  >


	<!ELEMENT Definition  ( 
                        MarginalNote*,
                        (Text*,((Paragraph | %blocktext;)+,ContinuedDefinition?)*)
                      )>


	<!ELEMENT SectionPiece  (
                           Definition
						 | Heading
                         | Paragraph 
                         | Subparagraph 
                         | Clause 
                         | Subclause 
                         | Subsubclause 
                         | ContinuedSectionSubsection 
                         | ContinuedParagraph 
                         | ContinuedSubparagraph 
                         | ContinuedClause 
                         | ContinuedSubclause 
                         | ContinuedDefinition
                         | %blocktext; 
                        )+ >

	<!ELEMENT Summary  (TitleText, Provision+) >

<!-- ____________________________________________________________________-->
<!--                                                                     -->
<!--                        HIGHEST LEVEL ELEMENT                        -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->

<!ELEMENT Statute  (Identification, Repealed?, Introduction?, Body?, Schedule*) >
<!ATTLIST Statute
               bill-origin (commons | senate)   #REQUIRED
               bill-type (private-public | private-private | govt-public) 
               						"govt-public"
               document-id  CDATA    #IMPLIED 
               date-time  CDATA    #IMPLIED
               startdate  CDATA    #IMPLIED  
               enddate  CDATA    #IMPLIED 
               reverseTitle  CDATA    #IMPLIED 
               alpha  CDATA    #IMPLIED 
               hasPreviousVersion  CDATA    #IMPLIED 
               xml:lang (en | fr)   #REQUIRED  
		in-force (yes | no) "yes" >
<!-- ____________________________________________________________________-->
<!--                                                                     -->
<!--                       IDENTIFICATION ELEMENT                        -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->
   
<!ELEMENT Identification  (BillNumber?, Parliament?, LongTitle, 
                           ShortTitle, RunningHead?, BillHistory, BillSponsor?, StatuteYear?, 
                           Chapter?, ReaderNote?, BillRefNumber?, PreviousTitle?, NextTitle?) >

                           
<!ELEMENT Chapter  (ConsolidatedNumber, AnnualStatuteId?) >


<!ELEMENT AnnualStatuteId  (AnnualStatuteNumber, YYYY ) >
<!ATTLIST AnnualStatuteId
               revised-statute (yes | no) "no"  >


<!ELEMENT ConsolidatedNumber (#PCDATA) >
<!ATTLIST ConsolidatedNumber official ( yes | no ) #REQUIRED >


<!ELEMENT ReaderNote  (Note+) >


<!ELEMENT StatuteYear  (#PCDATA) >

<!ELEMENT PreviousTitle (Chapter, LongTitle, ShortTitle)+>

<!ELEMENT NextTitle (Chapter, LongTitle, ShortTitle)+>

<!-- ____________________________________________________________________-->
<!--                                                                     -->
<!--                         INTRODUCTION ELEMENT                        -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->

<!ELEMENT Introduction  (Recommendation?, Summary?, TableOfProvisions?, 
((Preamble, Enacts?) | Enacts)?, HistoricalNote?) >

                

<!-- ____________________________________________________________________-->
<!--                                                                     -->
<!--                       BLOCK TEXT ELEMENTS                           -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->
                                                                            
<!ELEMENT Body  (Heading | Section )+ >

<!ELEMENT Heading  (Label?, MarginalNote?, TitleText?, Note?) >
<!ATTLIST Heading
	level (1 | 2 | 3 | 4 | 5) #REQUIRED
	style CDATA  #IMPLIED 
	type (normal | transitional | amending) #IMPLIED
	%changeatt;  >
	
<!ELEMENT AmendedText  (%docpart; | BillInternal | OriginatingRef | Schedule) >
<!ATTLIST AmendedText
	xml:lang (en | fr )   #IMPLIED 
	change  (ins | off) #IMPLIED
	include-in-TableOfProvisions (yes | no)  "no" >


                                         
<!-- ____________________________________________________________________-->
<!--                                                                     -->
<!--                       INLINE TEXT ELEMENTS                          -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->

<!ELEMENT Repealed  (%lowleveltext;)* >


<!ELEMENT Keep  (%lowleveltext;)* >
<!ATTLIST Keep        
               svc CDATA #IMPLIED >

     
	<!ATTLIST Section
               dateValidite  CDATA    #IMPLIED 
               iroId  CDATA    #IMPLIED 
               iroFid  CDATA    #IMPLIED  >



	<!ATTLIST Schedule
               dateValidite  CDATA    #IMPLIED 
               iroId  CDATA    #IMPLIED 
               iroFid  CDATA    #IMPLIED  >

