Bills/BillExchange/BillExchange.dtd

<?xml encoding="utf-8"?>
<!-- Bill Exchange DTD v2.5 == 2022 -->

<!-- The BillExchange DTD, includes the change attribute with its modified content model. -->
<!ENTITY % ignorechange 'INCLUDE'>

<!-- The BillExchange DTD includes the exchange entity which excludes the CommentBlock 
element as well as the HistoricalNote element. -->

<!-- The BillExchange DTD includes the flat entity which defines the flattened model for the Body and Heading elements. -->

<!ENTITY % changeatt "
              change  (ins | off )   #IMPLIED " >      

<!ENTITY % math PUBLIC "-//W3C//DTD MathML 2.0//EN" "../../mathml2/mathml2.dtd">
%math;   

<!-- The following line identifies the billCommonElements.dtd to be included 
     in BillExchange.dtd -->
 
<!ENTITY % commonelements PUBLIC "-//Justice Canada//DTD Bill Common Elements v2.4.2//EN" "../CommonFiles/billCommonElements.ent">
<!ENTITY % commonentities PUBLIC "-//Justice Canada//DTD Bill Common Entities v2.4.2//EN" "../CommonFiles/billCommonEntities.ent">

<!-- ____________________________________________________________________-->
<!--                                                                     -->
<!--                             ENTITIES                                -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->


<!ENTITY % lowleveltext  "#PCDATA | Ins | Sub | Sup | Emphasis | InlineFont | Preserve | Language 
                           | FootnoteRef | XRefInternal | XRefExternal | XRefSection
                           | PageBreak | Keep | LineBreak" >

<!ENTITY % changedtext  "(#PCDATA | Emphasis | DefinedTermEn
                          | DefinedTermFr | DefinitionEnOnly | DefinitionFrOnly | DefinitionRef | FootnoteRef | Language | Leader
                          | LeaderRightJustified | Sub | Sup | XRefInternal | XRefSection
                          | XRefExternal | Provision | Keep)*" >


<!ENTITY % inline  "(#PCDATA | Ins | Sub | Sup | Emphasis | InlineFont | Preserve
                     | DefinedTermEn | DefinedTermFr | DefinitionEnOnly | DefinitionFrOnly | DefinitionRef | FootnoteRef 
                     | Language | Leader | LeaderRightJustified | XRefInternal | XRefSection
                     | XRefExternal | PageBreak | Keep | ImageGroup | Fraction | MathML)*" >


<!ENTITY % tbl.entry.mdl  "(#PCDATA | Ins | Sub | Sup | Emphasis | InlineFont | Preserve
				| DefinedTermEn | DefinedTermFr | DefinitionEnOnly | DefinitionFrOnly | DefinitionRef 
               | BilingualGroup | FootnoteRef | Formula 
               | XRefInternal | XRefExternal | XRefSection | ImageGroup | Provision
               | Language | Leader | SignatureBlock | LeaderRightJustified 
               | PageBreak | Keep | MathMLBlock)* " >

%commonentities;

<!--  These elements' model exclude the CommentBlock and HistoricalNote elements.-->

<!ENTITY % schedulecontent  "(AmendedText | BillPiece | DocumentInternal | BillInternal
	| %blocktext; | Schedule)*" >


<!ENTITY % docpart  "(LongTitle | Preamble | (Heading | Section)+ 
                     | (Heading | Subsection)+ | SectionPiece | (ScheduleFormHeading, %schedulecontent;)
                     | (%blocktext;)+ | Formula | (Caption?, title?) | (Group | GroupHeading | Provision)+)" >


<!-- The following line imports the contents of billCommonElements.dtd so that
     elements from the common elements pool can be included in BillExchange.dtd 
     This reference must be positioned after the entity references. -->
 
 %commonelements;
 
	<!ELEMENT List (Item+) >
	<!ATTLIST List
		style (arabic | roman-lc | roman-uc | alphabet-lc | alphabet-uc | bullet | en-dash | em-dash) #IMPLIED 
		subsequent-line-indent CDATA #IMPLIED 
		label-start-indent CDATA #IMPLIED 
		text-start-indent  CDATA #IMPLIED 
		first-line-indent CDATA #IMPLIED 
		justification (justify | left | right | center) #IMPLIED
		hyphenation (yes | no) #IMPLIED
		pointsize (6 | 7 | 8 | 9 | 10 | 11 | 12) #IMPLIED
		keep-with-next (yes | no) #IMPLIED
		keep-with-previous (yes | no) #IMPLIED
		topmarginspacing CDATA #IMPLIED
		xml:lang (en | fr)   #IMPLIED 
		language-align (yes | no) "no"
		%changeatt;  >

	<!ELEMENT Item (Label?, Text, List?) >
	
	<!ELEMENT Clause  (Label, Text, ((Subclause | %blocktext;)+, 
                   ContinuedClause?)*) >          
	<!ATTLIST Clause
               id  ID    #IMPLIED 
               type  (normal | transitional | amending | CIF | CIFnobold)  #IMPLIED
               %changeatt;  >


	<!ELEMENT ContinuedClause  (Text) >
	<!ATTLIST ContinuedClause
               id  ID    #IMPLIED 
               %changeatt;
               type  (normal | transitional | amending | CIF | CIFnobold)  #IMPLIED  >


	<!ELEMENT ContinuedDefinition  (Text) >
	<![%ignorechange;[
	<!ATTLIST ContinuedDefinition %changeatt;  >
        ]]>


	<!ELEMENT ContinuedParagraph  (Text) >
	<!ATTLIST ContinuedParagraph
               id  ID    #IMPLIED 
               %changeatt;
               type  (normal | transitional | amending | CIF | CIFnobold)  #IMPLIED  >


	<!ELEMENT ContinuedSectionSubsection  (Text, (AmendedText | ReadAsText)?) >
	<!ATTLIST ContinuedSectionSubsection
               id  ID    #IMPLIED 
               %changeatt;
               type  (normal | transitional | amending | CIF | CIFnobold)  #IMPLIED  >


	<!ELEMENT ContinuedSubclause  (Text) >
	<!ATTLIST ContinuedSubclause
               id  ID    #IMPLIED 
               %changeatt;
               type  (normal | transitional | amending | CIF | CIFnobold)  #IMPLIED  >


	<!ELEMENT ContinuedSubparagraph  (Text) >
	<!ATTLIST ContinuedSubparagraph
               id  ID    #IMPLIED 
               %changeatt;
               type  (normal | transitional | amending | CIF | CIFnobold)  #IMPLIED  >


	<!ELEMENT Definition  ( 
                        MarginalNote*,
                        (Text*,((Paragraph | %blocktext;)+,ContinuedDefinition?)*)
                      )>


	<!ELEMENT DocumentInternal
    		( (Group | Provision | GroupHeading)+, Schedule* ) >


	<!ELEMENT Enacts  (Provision) >


	<!ELEMENT Group 
    	( GroupHeading, (Group? | Provision?)* )>  
	<!ATTLIST Group
    	id  ID    #IMPLIED >


	<!ELEMENT Paragraph  (MarginalNote?, Label, Text,
                     (((Subparagraph | %blocktext;)+, ContinuedParagraph?)* 
                        | AmendedText?)) >                     
	<!ATTLIST Paragraph
               id  ID    #IMPLIED 
               type (normal | transitional | amending | CIF | CIFnobold)   #IMPLIED 
               %changeatt;  >


	<!ELEMENT Preamble  (Provision+) >
	<!ATTLIST Preamble
               salutation   (yes | no ) "no"   >

	<!ELEMENT Provision (
                      MarginalNote?,
                      Label?,
                      ProvisionHeading?,
                      (
                        (
                          Text,
                          (
                            (
                              (Provision | %provisionblock;)+,
                              Text?
                            )*
                           |
                            AmendedContent?
                           |
                            ReadAsContent?
                          )
                        )
                       |
                        (Provision+)
                       |
                        (%provisionblock;)
                      )
                    ) >
	<!ATTLIST Provision	
                format-ref  CDATA    #IMPLIED
                first-line-indent CDATA #IMPLIED
                subsequent-line-indent CDATA #IMPLIED
                justification (justify | left | right | center) #IMPLIED
                hyphenation (yes | no) #IMPLIED
                pointsize (6 | 7 | 8 | 9 | 10 | 11 | 12) #IMPLIED
                keep-with-next (yes | no) #IMPLIED
		list-item (yes | no) "no"
                keep-with-previous (yes | no) #IMPLIED
                topmarginspacing CDATA #IMPLIED
                xml:lang (en | fr)   #IMPLIED 
                id  ID    #IMPLIED
                language-align (yes | no) "no"
                %changeatt; >
 
                   
	<!ELEMENT Section  (MarginalNote?, Label, 
                    ((Text, (Definition* | (((Paragraph |  %blocktext;)+, 
                    ContinuedSectionSubsection?)* 
                    | (AmendedText, ContinuedSectionSubsection?)?))) 
                    | (Subsection | Heading)+),
                    ExplanatoryNote?) >
	<!ATTLIST Section 
               id  ID    #IMPLIED 
               type (normal | transitional | amending | CIF | CIFnobold)   #IMPLIED 
               %changeatt;  >


	<!ELEMENT SectionPiece  (
                           Definition
						 | Heading
                         | Paragraph 
                         | Subparagraph 
                         | Clause 
                         | Subclause 
                         | Subsubclause 
                         | ContinuedSectionSubsection 
                         | ContinuedParagraph 
                         | ContinuedSubparagraph 
                         | ContinuedClause 
                         | ContinuedSubclause 
                         | ContinuedDefinition 
                         | %blocktext; 
                        )+ >


	<!ELEMENT Subclause  (Label, Text,  ((Subsubclause 
                      | %blocktext;)+, ContinuedSubclause?)*) >              
	<!ATTLIST Subclause
               id  ID    #IMPLIED 
               type  (normal | transitional | amending | CIF | CIFnobold)  #IMPLIED
               %changeatt;  >

	<!ELEMENT Subsubclause  (Label, Text, 
                         (%blocktext;)*) >                 
	<!ATTLIST Subsubclause
               id  ID    #IMPLIED 
               type  (normal | transitional | amending | CIF | CIFnobold)  #IMPLIED
               %changeatt;  >


	<!ELEMENT Subparagraph  (Label, Text, (((Clause 
                         | %blocktext;)+, ContinuedSubparagraph?)* 
                         | AmendedText?)) >                         
	<!ATTLIST Subparagraph
               id  ID    #IMPLIED 
               type (normal | transitional | amending | CIF | CIFnobold)  #IMPLIED 
               %changeatt;  >


	<!ELEMENT Subsection (MarginalNote?, Label, Text, 
                       (Definition* | (((Paragraph | %blocktext;)+,
                       ContinuedSectionSubsection?)* 
                     | (AmendedText, ContinuedSectionSubsection?)?)),
                       ExplanatoryNote?) >                       
	<!ATTLIST Subsection
               id  ID    #IMPLIED 
               type (normal | transitional | amending | CIF | CIFnobold) #IMPLIED 
               %changeatt;  >

	<!ELEMENT Summary  (TitleText, Provision+) >

<!-- ____________________________________________________________________-->
<!--                                                                     -->
<!--                        HIGHEST LEVEL ELEMENT                        -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->

<!ELEMENT Bill  (Identification, Introduction?, Body, Schedule*) >


<!ATTLIST Bill
               bill-origin (commons | senate | other)   #REQUIRED
               bill-type (private-public | private-private | govt-public) 
               						"govt-public"
               document-id  CDATA    #IMPLIED 
               date-time  CDATA    #IMPLIED 
               xml:lang (en | fr)   #REQUIRED  >

<!-- ____________________________________________________________________-->
<!--                                                                     -->
<!--                       IDENTIFICATION ELEMENT                        -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->
  
<!ELEMENT Identification  (BillNumber?, Parliament?, LongTitle, 
                           ShortTitle, RunningHead?, BillHistory, BillSponsor?, StatuteYear?, 
                           Chapter?, ReaderNote?, BillRefNumber?) >

                           
<!ELEMENT Chapter  (ConsolidatedNumber?, AnnualStatuteId?) >


<!ELEMENT ConsolidatedNumber  (#PCDATA) >
<!ATTLIST ConsolidatedNumber official ( yes | no ) #IMPLIED >


<!ELEMENT AnnualStatuteId  (AnnualStatuteNumber, YYYY ) >
<!ATTLIST AnnualStatuteId
               revised-statute (yes | no) "no"  >


<!ELEMENT ReaderNote  (Note+) >


<!ELEMENT StatuteYear  (#PCDATA) >

<!-- ____________________________________________________________________-->
<!--                                                                     -->
<!--                         INTRODUCTION ELEMENT                        -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->

<!ELEMENT Introduction  (Recommendation?, Summary?, TableOfProvisions?, 
((Preamble, Enacts?) | Enacts)?) >

<!-- ____________________________________________________________________-->
<!--                                                                     -->

<!--                                                                     -->
<!--                       BLOCK TEXT ELEMENTS                           -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->
                                                                                     
<!ELEMENT Body  (Heading | Section )+ >

<!ELEMENT Heading  (Label?, MarginalNote?, TitleText?, Note?) >
<!ATTLIST Heading
	level (1 | 2 | 3 | 4 | 5) #REQUIRED
	style CDATA  #IMPLIED 
	type (normal | transitional | amending) #IMPLIED
	%changeatt;  >
	
<!ELEMENT ExplanatoryNote  (TitleText*, Label, ExplanatoryText+, ExistingText?) >
<!ATTLIST ExplanatoryNote
               id  ID    #IMPLIED  >
               

<!ELEMENT ExplanatoryText  %inline; >


<!ELEMENT ExistingText  %docpart; >
<!ATTLIST ExistingText
               xml:lang (en | fr)   #IMPLIED  >

<!ELEMENT AmendedText  (%docpart; | BillInternal | OriginatingRef | Schedule) >
<!ATTLIST AmendedText
               xml:lang (en | fr )   #IMPLIED 
               change  (ins | off) #IMPLIED
               include-in-TableOfProvisions (yes | no)  "no" >



<!-- ____________________________________________________________________-->
<!--                                                                     -->
<!--                       INLINE TEXT ELEMENTS                          -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->
                                     
<!ELEMENT Ins  %changedtext; >
<!-- ____________________________________________________________________-->
<!--                                                                     -->
<!--                    HOUSE OF COMMONS ONLY ELEMENTS                   -->
<!--                                                                     -->
<!-- ____________________________________________________________________-->
 

<!ELEMENT Keep  (%lowleveltext;)* >
<!ATTLIST Keep        
               svc CDATA #IMPLIED >                 


<!ELEMENT PageBreak  EMPTY >


<!ELEMENT LineBreak  EMPTY >



